/* option menu items */

.sideStay {
  display: inline-block;
  position:fixed;
  left: 0px;
  padding:5px;
  background: #0a3754;
  color:white;
}

.sideStayLeft ul {
  list-style: none;
  max-height: 800px;
  min-height: 200px;
  max-width: 150px;
  min-width: 100px;
  height: 80vh;
  width: 100vw;
  margin-top: 0px;  
  overflow-y: scroll;    
}

.sideStayLeft ul li {  
  display: inline-block;
  position: relative;
  right: 2em;
  width: 100%;
  margin: auto 0px;
  padding: 2px 0px;  
}

.sideStayTopLeft {
  transition-timing-function: ease;  
  transition-duration: 0.5s;
}

div.sideStay.sideStayLeft.inactive .sideStayTopLeft {
  cursor: pointer;
  top: 0;  
  right: 0;
  left: 98%;
  border: 2px solid white;
  font-size: 50%;
  width: 3em;
  height: 2em;
}

div.sideStay.sideStayLeft .sideStayTopLeft {
  cursor: pointer;
  top: 1em;  
  right: revert;
  left: 19em;  
  border: 2px solid white;
  font-size: 50%;
  width: 3em;
  height: 2em;
}

.sideStayTopLeft span {
  display: inline-block;
  padding: .4em 1.2em;
}

.sideStayLeft {
  top: -10px;
  max-width: 11.5em; 
  min-width: 10em; 
  width: 100%; 
  font-size: 16px;
  margin-top: 10px;
  padding-top: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sideStayLeft.inactive {
  max-width: 86px;
  min-width: unset;
}

.sideStayLeft a {
  color: white;
}

.sideStayLeft div.searchBox {
  background: white;
  color: black;
  width: 100%;
  max-width: 180px;
  padding: 10px;
  margin-left: -10px; 
}

.searchBox label {
  margin-left: 5px;
}

.sideStayLeft input {
  width: 80%;
  margin-left: 5px;
}

.sideStayLeft img {
  width: 10%;
  margin-top: 2px;
  margin-left: 5px;
  padding-top: 0;
  position: relative;
  top: 5px;
}

button {
  cursor: pointer;
  background: #0a3754;
  color: white;
  padding: 5px;
  width: 9em;
  height: 40px;
  margin: auto;
  font-size: 60%;
}

div[data-on-side] {
 transition--timing-function: linear;
 transition-duration: 0.8s;
}
div[data-on-side="1"] {
 left: -80px; 
}
div[data-on-side="0"] {
 left: 0px;
}

/* Close box with bottom element*/
@media screen and (min-height: 800px) {
  div.sideStay.sideStayLeft#manpage-option-menu:after {
    content: "_";
    display: inline-block;
    postion: relative;    
    margin-top: 10px;
    margin-left: -5px;
    height: 100px;
    width: 105%;
    border-right: 1px solid #0a3754;
    background-color: white;
    background-image: url("https://curl.se/logo/curl-logo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 10%;
    color: white;
  }
  div.sideStay.sideStayLeft.inactive#manpage-option-menu:after {
    content: none;
  }
}
/* Start media queries - max-width. */
@media screen and (max-width: 1400px) {
  div.menu {
    padding-left: 30px;
  }
  div.menu#activeManMenu {
    padding-left: 60px;
    font-size: 22px;
  }
  div.manpage#activeManDiv {
    max-width: 80%;
    margin-left: 20%;
  }
}

@media screen and (max-width: 1025px) {
  div.menu {
    font-size: 22px;
    padding-left: 20px;
  }
  div.menu#activeManMenu {
    padding-left: 90px;
  }
  div.manpage#activeManDiv {
    max-width: 70%;
    margin-left: 25%;
  }
  div.manpage#activeManDiv pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }  
  div.sideStayLeft button {
    max-height: 3em;
  }    
}

@media screen and (max-width: 992px) {
  div.menu div.dropdown {
    display: inline-block;
    position: relative;
    max-width: 18%;
    width: auto;
    padding: 0px;    
  }
  div.menu#activeManMenu {
    padding-left: 120px;
    font-size: 20px;
  }      
  div.manpage pre {
    word-wrap:break-word;
    white-space: pre-wrap;
  }  
  div.sideStayLeft button {
    max-height: 2.5em;
  }
}

@media screen and (max-width: 769px) {
  div.menu#activeManMenu {
    padding-left: 130px;
    font-size: 20px;
  }  
}

/* Breakpoint where option menu no longer displayed. */
@media screen and (max-width: 768px) {
  div.manpage pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  div.sideStayLeft#manpage-option-menu {
    display: none; 
  }  
}

/* Start media queries - min-width. */
@media screen and (min-width: 640px) {
  div.manpage {
    display: inline-block;
    position: relative;
    margin-left: 1px;
    max-width: 100%;
    float: right;
    right: 0px;
    min-width: 500px;
    width: auto;
  } 
}